* {
    font-family: 'Courier New', Courier, monospace;
}

@media only screen and (max-width: 588px) {
    .main-part {
        flex-direction: column;
    }

    div .container-box {
        width: auto;
    }
}

body{
    min-width: 236px;
}

#header {
    padding   : 3px;
    text-align: center;
    background: #1abc9c;
    color     : white;
    font-size : 20px;
}

.main-part {
    display        : flex;
    justify-content: center;
}

.container-box {
    width: 25%;
}

.laptop-view {
    border : 1px #ccc solid;
    padding: 10px;
}

.laptop-view {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-row-gap         : 10px;
    grid-column-gap      : 10px;

}

#box1, #box2, #box3{
    align-self: center;
    justify-self: center;
}

button#bank{
    background:linear-gradient(to bottom, #71ff99 5%, #13c13b 100%);
	background-color:#44c77d;
	border:1px solid #9cffc4;
}
button#work{
    background:linear-gradient(to bottom,  #ffc4f2 5%, #b8006e 100%);
	background-color:#d601a1;
	border:1px solid #ff95e4;
}
button#get-loan{
    background:linear-gradient(to bottom, #ff7d7d 5%, #6a3030 100%);
	background-color:#cc1a1a;
	border:1px solid #ff8d8d;
}
button#buy-now{
    background:linear-gradient(to bottom, #3cc5ff 5%, #0c5594 100%);
	background-color:#4532b0;
	border:1px solid #85e9ff;
}

#buy-now, #work, #bank, #get-loan{
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#buy-now, #work, #bank, #get-loan:active {
	position:relative;
	top:1px;
}


#image {
    height: 120px;
}

div#box2 p {
    font-size: 12px;
}

.main-part div {
    border : 1px #ccc solid;
    padding: 5px 10px;
    margin : 10px;
}

div #features {
    width    : auto;
    border   : 0;
    padding  : 0;
    margin   : 0;
    font-size: 10px;

}